<!--Acerca de mi-->
<section class="about-me">
  <div class="container-fluid grid ms-0 m-0"> <!--Arreglar margin end-->
      <div class="row">
        <div class="col-3 text-center">
          <img src="{{aboutme.foto}}" alt="foto de perfil" class="rounded-circle img-fluid img-thumbnail ft-perfil">
          <h4>{{aboutme.nombre}}</h4>
          <p>{{aboutme.titulo}}</p>
          <p>{{aboutme.ubicacion}}</p>
        </div>
        <div class="col-9 text-left mt-5">
          <h2 class="about-me-titulo">Acerca de mi</h2>
          <h2 class="about-me-texto">{{aboutme.descripcion}}</h2>
        </div>
      </div>
    </div>
</section>