<!--navbar top-->
<nav class="navbar navbar-expand-lg bg-black ">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="'/home'">
            <img src="../../assets/Imagen de WhatsApp 2023-03-30 a las 01.07.25.jpg" alt="Logo argentina programa" class="w-50 bannerfot">
        </a>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" *ngFor="let redes of networks"> 
             <a href="{{redes.url}}" target="_blank" rel="noopener noreferrer">
                <i [ngClass]="redes.icon" ></i>
            </a>
          </li>
          <li class="list-group-item"> 
            <!-- boton que envia al login-->
            <!-- boton de login -->
           <a [routerLink]="'/login'"> <i class="fa-solid fa-right-to-bracket fa-1x text-white"></i> </a>
          </li>
        </ul>
        
    </div>
  </nav>