<div *ngIf="skill; else nuevo">
    <form [formGroup]="skillForm" (ngSubmit)="onSave()">
        <div class="my-3 col-6">
            <label for="skill" class="form-label">Habilidad</label>
            <input type="text" formControlName="name" class="form-control" id="skill" [placeholder]="skill.nombre">
        </div>
        <div class="my-3 col-2">
            <label for="porcentaje" class="form-label">Porcentaje</label>
            <input type="text" formControlName="percentage" class="form-control col-3" id="porcentaje" [placeholder]="skill.porcentaje">
        </div>
        <button type="submit" [disabled]="skillForm.invalid" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" (click)="onDelete(skill)" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </form>
</div>

<ng-template #nuevo>
    <form [formGroup]="skillForm" (ngSubmit)="onSave()">
        <div class="my-3 col-6">
            <label for="skill" class="form-label">Nueva Habilidad</label>
            <input type="text" formControlName="name" class="form-control" id="skill" placeholder="Habilidad">
        </div>
        <div class="my-3 col-2">
            <label for="porcentaje" class="form-label">Nuevo Porcentaje</label>
            <input type="text" formControlName="percentage" class="form-control col-3" id="porcentaje" placeholder="porcentaje">
        </div>
        <button type="submit" [disabled]="skillForm.invalid" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </form>
</ng-template>