<section class="hardSoftSkilss">
  <div class="container-fluid mt-3">
    <h3 class="titulo-seccion hardSoftSkills__titulo-seccion text-center mt-4 mb-4">Hard & Soft Skills</h3>
    

    <!-- Soft Skills -->
    <div class="skills-container">
      <div class="skills-box">
        <h2>Soft Skills</h2>
        <ul class="skills-list">
          <li *ngFor="let softskill of softskill">
            <div class="skill">
              <div class="skill-name">{{softskill.name}}</div>
              <div class="skill-bar">
                <!--usar active para dar animacion-->
                <div class="skill-progress active" [style.width.%]="softskill.percentage"></div> 
              </div>
            </div>
          </li>
        </ul>
      </div>
    
      <!-- Hard Skills -->
      <div class="skills-box">
        <h2>Hard Skills</h2>
        <ul class="skills-list">
          <li *ngFor="let hardskill of hardskill">
            <div class="skill">
              <div class="skill-name">{{hardskill.name}}</div>
              <div class="skill-bar">
                <div class="skill-progress active" [style.width.%]="hardskill.percentage"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>