<app-navbar></app-navbar>
<section class="adminDashboard">
    <div class="container-fluid admin-grid m-0"> 
        <div class="row">
          <div class="col-3 text-center mb-2">
            <!-- Informacion -->
            <img src="{{aboutme.foto}}" alt="foto de perfil" class="rounded-circle img-fluid img-thumbnail ft-perfil">

            <h4>{{aboutme.nombre}}</h4>
            <p>{{aboutme.titulo}}</p>
            <!-- List group --Lista de Paneles-- -->
            <div class="list-group" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#redes" role="tab">
                    <i  class="fa-sharp fa-solid fa-share-nodes" ></i>
                    Redes Sociales
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#aboutme" role="tab">
                    <i  class="fa-solid fa-address-card" ></i>
                    Sobre Mi
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#experiencias" role="tab">
                    <i class="fa-sharp fa-solid fa-briefcase"></i>
                    Experiencias
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#educacion" role="tab">
                    <i  class="fa-solid fa-graduation-cap" ></i>
                    Educacion
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#skills" role="tab" >
                    <i  class="fa-solid fa-gear" alt="skills"></i>
                    Skills
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#proyectos" role="tab">
                    <i  class="fa-solid fa-laptop-code" ></i>
                    Proyectos
                </a>
            </div>
          </div>
          <div class="col-9 text-left m-0">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="redes" role="tabpanel">
                    <app-redes-panel></app-redes-panel>
                </div>
                <div class="tab-pane" id="aboutme" role="tabpanel">
                    <app-about-me-panel></app-about-me-panel>
                </div>
                <div class="tab-pane" id="experiencias" role="tabpanel">
                    <app-experiencia-panel></app-experiencia-panel>
                </div>
                <div class="tab-pane" id="educacion" role="tabpanel">
                    <app-educacion-panel></app-educacion-panel>
                </div>
                <div class="tab-pane" id="skills" role="tabpanel" >
                    <app-skills-panel></app-skills-panel>
                </div>
                <div class="tab-pane" id="proyectos" role="tabpanel">
                    <app-proyectos-panel></app-proyectos-panel>
                </div>
            </div>
          </div>
        </div>
      </div>
</section>