<!-- SoftSkills -->
<div class=" my-3 softSkills-container">
    <h4>Soft Skills</h4>
    <div class="my-3 soft-1 grupo-info" *ngFor="let soft_skill of softSkills">
        <app-skills-form (onSaveSkill)="saveSoftChanges($event)" (onDeleteSkill)="removeSoftSkill($event)" [skill]="soft_skill"></app-skills-form>
    </div>
    <div *ngIf="onAddingSK">
        <h4>Nueva SoftSkill</h4>
        <app-skills-form  (onSaveSkill)="addSoftSkill($event)"></app-skills-form>
    </div>
    <button *ngIf="!onAddingSK" type="button" (click)="toggleOnAddingSK()" class="btn btn-primary btn-añadir">Añadir Habilidad</button>
    <button *ngIf="onAddingSK" type="button" (click)="toggleOnAddingSK()" class="btn btn-primary btn-cancelar-añadir" [ngStyle]="{'background-color': '#ee6969;'}">Deshacer</button>
</div>

<!-- Hard Skills -->
<div class=" my-3 hardSkills-container">
    <h4>Hard Skills</h4>
    <div class="my-3 hard-1 grupo-info" *ngFor="let hard_skill of hardSkills">
        <app-skills-form (onSaveSkill)="saveHardChanges($event)" (onDeleteSkill)="removeHardSkill($event)" [skill]="hard_skill"></app-skills-form>
    </div>
    <div *ngIf="onAddingHK">
        <h4>Nueva HardSkill</h4>
        <app-skills-form  (onSaveSkill)="addHardSkill($event)"></app-skills-form>
    </div>
    <button *ngIf="!onAddingHK" type="button" (click)="toggleOnAddingHK()" class="btn btn-primary btn-añadir">Añadir Habilidad</button>
    <button *ngIf="onAddingHK" type="button" (click)="toggleOnAddingHK()" class="btn btn-primary btn-cancelar-añadir" [ngStyle]="{'background-color': '#ee6969;'}">Deshacer</button>
</div>